<h1 class="text-center"> <%= @user.username.capitalize%>'s Profile</h1>
<div class="container">
<%= gravatar_for( @user) %>
<div>

<h3 class="text-center mt-4 "> <%= @user.username.capitalize%>'s Articles</h3>

<div class = "container">

   <%= render 'articles' %>

</div>